## A hospital wants to determine whether there is any difference in the average Turn Around Time (TAT) of reports of the laboratories on their preferred list. They collected a random sample and recorded TAT for reports of 4 laboratories. TAT is defined as sample collected to report dispatch.Analyze the data and determine whether there is any difference in average TAT among the different laboratories at 5% significance level.

In [ ]:
import pandas as pd
import numpy as np
from scipy import stats
from scipy.stats import norm

In [ ]:
file = pd.read_csv("/content/LabTAT.csv")

In [ ]:
file.head()

   Laboratory 1  Laboratory 2  Laboratory 3  Laboratory 4
0        185.35        165.53        176.70        166.13
1        170.49        185.91        198.45        160.79
2        192.77        194.92        201.23        185.18
3        177.33        183.00        199.61        176.42
4        193.41        169.57        204.63        152.60

For more than 2 samples we use ANOVA test

Assume, Ho = There is no difference in avg TAT among diff Laboratories
Ha = There is difference in avg TAT among diff Laboratories, Atleast one sample TAT population is differnt.

In [ ]:
# Anova ftest statistics
p_val = stats.f_oneway(file.iloc[:,0],file.iloc[:,1],file.iloc[:,2],file.iloc[:,3])
p_val

F_onewayResult(statistic=118.70421654401437, pvalue=2.1156708949992414e-57)

In [ ]:
p_val[1]

2.1156708949992414e-57

In [ ]:
# comparing with given significance level of 0.05
# As p_val is nearly equal to zero it is less than significance level i.e p_val < 0.05

Therefore we consider Alternate Hypothesis that, there is difference in avg TAT among diff Laboratories.